.menu-pricing {
  .categories-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .categories-actions {
      display: flex;
      justify-content: flex-end;
      align-items: end;
      
      .btn-addCategories {
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        background: #007bff;
        font-size: 0.9rem;
        font-weight: 700;
        
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

